// 1
.tabs-style-1 {
  .tabs-links {
    border: 1px solid var(--bs-border-color);
    border-radius: 10px;
    padding: 5px;
    ul {
      gap: 5px;
      li {
        flex: 1;
        button {
          color: #3a3a3a;
          font-size: 14px;
          padding: 6px 11px;
          justify-content: center;
          width: 100%;
          white-space: nowrap;
          &:not(.active):hover {
            color: var(--bs-primary);
          }
          &.active {
            background: rgb(var(--bs-primary-rgb), 0.1) !important;
            color: var(--bs-primary);
          }
        }
      }
    }
  }
  .tab-content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #eee;
    @include border-radius(5px);
  }
}

// activeFloorMenus
.activeFloorMenus {
  color: var(--bs-primary) !important;
  position: relative;
  font-weight: 500;
  &::before {
    content: "";
    width: 50%;
    height: 3px;
    background: var(--bs-primary);
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tabs-style-2 {
  .nav {
    --bs-nav-link-color: #bdbdbd;
    --bs-nav-link-hover-color: var(--bs-primary);
  }
}
